@import "tailwindcss";

:root {
    color: white;
}

body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-primary: #f7f8f8;
    --color-secondary: #d0d6e0;
    --color-tertiary: #8a8f98d9;
    --color-quaternary: #d1d1d1;
    --color-main: #08090a;
    --color-thin: #ffffff0d;

    --color-hovered: #1b1b1b;
}

.font-inter {
    font-feature-settings: "cv02", "cv05", "cv11";
}

*::-webkit-scrollbar {
    display: none !important;
}

@font-face {
    font-family: "jetbrains";
    src: url("/fonts/jetbrains.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.jetbrains {
    font-family: jetbrains, sans-serif;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flicker {
    animation: flicker 1.25s infinite;
}
