@import "tailwindcss";

:root {
    color: white;
}

body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-primary-white: #f7f8f8;
    --color-secondary-white: #d0d6e0;
    --color-primary-grey: #8a8f98d9;
    --color-secondary-grey: #d1d1d1;
    --color-primary-black: #08090a;
    --color-linear-border: #ffffff0d;
}

.font-inter {
    font-feature-settings: "cv02", "cv05", "cv11";
}

*::-webkit-scrollbar {
    display: none !important;
}

@font-face {
    font-family: "jetbrains";
    src: url("/fonts/jetbrains.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.jetbrains {
    font-family: jetbrains, sans-serif;
}
